.home-banner {
  background-image: url('https://images.unsplash.com/photo-1532779952550-b8fc9200ed8c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;

  span {
    color: white;
  }
}
